<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="imagetoolbar" content="false" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <title><%= @item[:title] %></title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/css/960.css" rel="stylesheet" type="text/css" />
  <link href="/css/uv_active4d.css" rel="stylesheet" type="text/css" />
  <link href="/shared/css/documentation.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
  <script src="/shared/js/jquery.js" type="text/javascript"></script>
  <script src="/shared/js/documentation.js" type="text/javascript"></script>
</head>
<body class="api">
    <div id="header-wrapper">
      <div id="header">
        <div>
          <a class="logo" href="/"><img src="/images/logo_developer.png" width="161" height="47" alt="Magento:Developer" /></a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/vmimage">VM Image</a></li>
            <li><a href="https://getsatisfaction.com/magento-2-prerelease/topics" target="_blank"><font color="#FF0A00">LEAVE FEEDBACK HERE!</font></a></li>
          </ul>
        </div>
      </div><!-- #header -->
    </div><!-- #header-wrapper -->

    <div id="wrapper">
      <div class="content">
    <%= yield %>
      </div>

    <div id="js-sidebar" class="sidebar-shell">
      <div class="js-toggle-list sidebar-module expandable">
        <ul>
          <li class="js-guides"><h3><a href="/">Overview</a></h3></li>
          <li class="js-guides"><h3><a href="/twig/">Twig Templates</a></h3></li>
          <li class="js-guides"><h3><a href="/service-idl/">Service IDL</a></h3></li>
          <li class="js-guides"><h3><a href="/service-impl/">Service Implementation</a></h3></li>
          <li class="js-guides"><h3><a href="/webhooks/">Webhooks</a></h3></li>
          <li class="js-guides"><h3><a href="/web-api/">Creating Web APIs</a></h3></li>
          <li class="js-guides"><h3><a href="/option-list/">Extension Configuration</a></h3></li>
        </ul>
      </div> <!-- /sidebar-module -->
    </div><!-- /sidebar-shell -->

    </div><!-- #wrapper -->

    <div id="footer" >
      <div class="upper_footer">
        <div class="footer_inner clearfix">

        <!--[if IE]><h4 id="blacktocat_ie">Magento Links</h4><![endif]-->
        <![if !IE]><h4 id="blacktocat">Magento Links</h4><![endif]>

        <ul class="footer_nav">
          <h4>Magento</h4>
          <li><a href="http://www.magentocommerce.com/company/">Company</a></li>
          <li><a href="http://www.magentocommerce.com/services/">Services</a></li>
          <li><a href="http://www.magentocommerce.com/license/">License/Trademark FAQ</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>Contact</h4>
          <li><a href="http://www.magentocommerce.com/company/contact-us/">Contact Us</a></li>
          <li><a href="http://www.magentocommerce.com/partners/">Partner with Magento</a></li>
        </ul>

        </div><!-- /.site -->
      </div><!-- /.upper_footer -->

    </div><!-- /#footer -->
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f2038e0cb25bc1b55000003');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
</body>
</html>
